<div class="wall-image">
  <%= image_tag("220px-Iris_virginica.jpg", :class => "profile-image")%>
  <h1 class="profile-name">Substitute by Iris</h1>

  <h3>cited from:</h3>
  https://en.wikipedia.org/wiki/Iris_virginica
  https://www.toptal.com/designers/subtlepatterns/

</div>